#temp {
	position: relative;
	margin-top:0px;
   font-size:50px;	
   -webkit-text-stroke: .5px #FFFFFF;
   text-align:center;
}

.degrees:after {
	content: "\00b0";
}

#wrapper {
	float: right;
	width: 170px;
	height: 125px;
	background-color: #efefef;
	}
